.svg-Communicate {
	background: url("sprite.svg") 0 0 no-repeat;
}

.svg-Communicate-dims {
	width: 31.72px;
	height: 32px;
}

.svg-Connect {
	background: url("sprite.svg") 7.862407862407863% 0 no-repeat;
}

.svg-Connect-dims {
	width: 32px;
	height: 22.47px;
}

.svg-FB {
	background: url("sprite.svg") 15.724815724815725% 0 no-repeat;
}

.svg-FB-dims {
	width: 32px;
	height: 32px;
}

.svg-IN {
	background: url("sprite.svg") 23.587223587223587% 0 no-repeat;
}

.svg-IN-dims {
	width: 32px;
	height: 32px;
}

.svg-Reddrop {
	background: url("sprite.svg") 30.62420747900567% 0 no-repeat;
}

.svg-Reddrop-dims {
	width: 21.03px;
	height: 32px;
}

.svg-Resources {
	background: url("sprite.svg") 36.85503685503686% 0 no-repeat;
}

.svg-Resources-dims {
	width: 32px;
	height: 29.59px;
}

.svg-Shape_13 {
	background: url("sprite.svg") 43.333333333333336% 0 no-repeat;
}

.svg-Shape_13-dims {
	width: 19px;
	height: 19px;
}

.svg-Shape_14 {
	background: url("sprite.svg") 49.385749385749385% 0 no-repeat;
}

.svg-Shape_14-dims {
	width: 32px;
	height: 32px;
}

.svg-Shape_81 {
	background: url("sprite.svg") 56.54653561460987% 0 no-repeat;
}

.svg-Shape_81-dims {
	width: 26.95px;
	height: 32px;
}

.svg-Shape_91 {
	background: url("sprite.svg") 61.757719714964374% 0 no-repeat;
}

.svg-Shape_91-dims {
	width: 18px;
	height: 26px;
}

.svg-Shape_911 {
	background: url("sprite.svg") 66.64908537316295% 0 no-repeat;
}

.svg-Shape_911-dims {
	width: 21.89px;
	height: 32px;
}

.svg-TW {
	background: url("sprite.svg") 73.71007371007371% 0 no-repeat;
}

.svg-TW-dims {
	width: 32px;
	height: 31.38px;
}

.svg-Training {
	background: url("sprite.svg") 81.52240638428484% 0 no-repeat;
}

.svg-Training-dims {
	width: 31.75px;
	height: 32px;
}

.svg-YT {
	background: url("sprite.svg") 89.43488943488944% 0 no-repeat;
}

.svg-YT-dims {
	width: 32px;
	height: 31.38px;
}

.svg-fa-chevron-circle-right {
	background: url("sprite.svg") 92.5233644859813% 0 no-repeat;
}

.svg-fa-chevron-circle-right-dims {
	width: 11px;
	height: 11px;
}

.svg-logo {
	background: url("sprite.svg") 100% 0 no-repeat;
}

.svg-logo-dims {
	width: 32px;
	height: 9.96px;
}

