.svg-Avocado {
	background: url("sprite.svg") 0 0 no-repeat;
}

.svg-Avocado-dims {
	width: 22px;
	height: 32px;
}

.svg-Communicate {
	background: url("sprite.svg") 5.401689255549009% 0 no-repeat;
}

.svg-Communicate-dims {
	width: 31.72px;
	height: 32px;
}

.svg-Connect {
	background: url("sprite.svg") 13.267813267813267% 0 no-repeat;
}

.svg-Connect-dims {
	width: 32px;
	height: 22.47px;
}

.svg-FB {
	background: url("sprite.svg") 21.13022113022113% 0 no-repeat;
}

.svg-FB-dims {
	width: 32px;
	height: 32px;
}

.svg-Greydrop {
	background: url("sprite.svg") 28.028503562945367% 0 no-repeat;
}

.svg-Greydrop-dims {
	width: 18px;
	height: 26px;
}

.svg-IN {
	background: url("sprite.svg") 33.415233415233416% 0 no-repeat;
}

.svg-IN-dims {
	width: 32px;
	height: 32px;
}

.svg-Man {
	background: url("sprite.svg") 41.27764127764128% 0 no-repeat;
}

.svg-Man-dims {
	width: 32px;
	height: 32px;
}

.svg-Reddrop {
	background: url("sprite.svg") 47.850324185946356% 0 no-repeat;
}

.svg-Reddrop-dims {
	width: 21.03px;
	height: 32px;
}

.svg-Resources {
	background: url("sprite.svg") 54.54545454545455% 0 no-repeat;
}

.svg-Resources-dims {
	width: 32px;
	height: 29.59px;
}

.svg-Straw {
	background: url("sprite.svg") 61.64300448974639% 0 no-repeat;
}

.svg-Straw-dims {
	width: 26.95px;
	height: 32px;
}

.svg-TW {
	background: url("sprite.svg") 69.04176904176904% 0 no-repeat;
}

.svg-TW-dims {
	width: 32px;
	height: 31.38px;
}

.svg-Tag {
	background: url("sprite.svg") 74.52380952380952% 0 no-repeat;
}

.svg-Tag-dims {
	width: 19px;
	height: 19px;
}

.svg-Training {
	background: url("sprite.svg") 81.52240638428484% 0 no-repeat;
}

.svg-Training-dims {
	width: 31.75px;
	height: 32px;
}

.svg-YT {
	background: url("sprite.svg") 89.43488943488944% 0 no-repeat;
}

.svg-YT-dims {
	width: 32px;
	height: 31.38px;
}

.svg-fa-chevron-circle-right {
	background: url("sprite.svg") 92.5233644859813% 0 no-repeat;
}

.svg-fa-chevron-circle-right-dims {
	width: 11px;
	height: 11px;
}

.svg-logo {
	background: url("sprite.svg") 100% 0 no-repeat;
}

.svg-logo-dims {
	width: 32px;
	height: 9.96px;
}

