*
  box-sizing: border-box
  padding: 0
  margin: 0
h1
  font-size: 45pt
  color: white
h2
  font-size: 40pt
  color: white
h3
  font-size: 35pt
  color: white
h4
  font-size: 24pt  
  color: white
p, a 
  font-family: "AvenirNextRoundedStd";
  font-size: 14pt
  line-height: 24pt
  color: white
.header
  background: url("../img/back.png") no-repeat center top
  background-size: cover 
  &__top
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding: 2.5% 3.5%
  &__menu-list
    min-width: 675px
    display: flex
    justify-content: space-around
    list-style: none
  &__menu-link
    text-decoration: none
  &__slogan
    padding: 35% 0% 15% 3%
    &-small
      padding-left: 15%
.main
  background-color: #a2ca28
  &-wrapper
    padding: 5% 10% 0% 10%
    &--orange
      background-color: #fd634e
      padding: 0% 10%
    &__text
      display: flex
      justify-content: space-between
      height: 100%
    &__offer
      display: flex
      flex-flow: wrap row
      &-wrap
        display: flex
        flex-flow: wrap column
        &--short
          width: 33%
        &--long
          width: 66%
  &-text
    flex-basis: 300px
    height: 340px
    display: flex
    flex-direction: column
    margin-bottom: 5%
    &__wrap
      flex-grow: 1
      &-double
        display: flex
        justify-content: space-around
    &__name , &__text
      margin-bottom: 7%
    &__link
      align-content: flex-end
      text-decoration: none
    
  &-offer
    width: 33%
    height: 460px
    padding: 40px
    text-align: center
    background-color: #fff
    display: flex
    flex-direction: column
    &__top-wrap
      display: flex
      justify-content: space-between
      align-items: flex-start
    &__icon
      align-self: center
      &--right
        margin-right: 15px 
    &--green
      background-color: #a2ca28
      text-align: left
    &__prename
      color: #fd634e
    &__name
      color: #a2ca28
    &__text
      color: #000
      &--white
        color: #fff
    &__link
      color: #a2ca28
    &--inside
      width: 100%
    &--left
      text-align: left
  &-image
    display: flex
    justify-content: flex-end
    align-items: flex-end
    padding: 40px
    background-repeat: no-repeat
    background-size: cover
    width: 66%
    height: 460px
    &--left
      justify-content: flex-start
    &__text
      color: #fd634e
      &--white
        color: #fff
    &__count
      color: #fff
      padding-right: 10px
    &--flexdate
      display: flex
      justify-content: space-between
      align-items: flex-start
    &--full
      width: 100%
    &__wrap
      display: flex
.support
  height: 950px
  background-color: #000
  background-repeat: no-repeat
  background-size: cover
  background-position: center top
  &-wrap
    text-align: center
    padding: 15% 10%
  &__text
    max-width: 40%
    margin: auto
.footer
  padding-top: 5%
  background-color: #0d1119
  height: auto
  &__main-wrap
    display: flex
    flex-flow: nowrap row
    padding: 0% 10%
  &__resources
    width: 33%
    margin-bottom: 20px
    margin-right: 20px
  &__feedback-wrap
    width: 66%
  &__about-wrap
    display: flex
  &__about
    max-width: 60%
  &__social
    max-width: 40%
    flex-grow: 1
    display: flex
    flex-flow: wrap column
    align-items: center
    &-wrap
      display: flex
    &-img
      margin: 10px
  &__text
    color: #8297a7
  &__input
    height: 30px
    padding: 10px
    margin: 20px 5px
    border-radius: 3px
    border-style: none
    &-wrap
      margin-left: -5px
      display: flex
    &--name
      width: 25%
    &--mail
      width: 50%
    &--butt
      width: 25%
      background-color: #a2ca28
      color: #fff

@media (max-width: 1600px)
  .header
    &__slogan
      padding: 40% 0% 15% 3%
  .main
    &-text
      height: 300px
    &-offer
      height: 370px
    &-image
      height: 370px
@media (max-width: 1366px)
  .main-text__wrap-double
    flex-flow: wrap column
@media (max-width: 960px)
  .header
    &__slogan
      padding: 50% 0% 15% 3%
  .main
    &-offer
      overflow: hidden
      width: 50%
      height: 350px
      padding: 5px 40px
      &--inside
        width: 100%
    &-image
      width: 50%
      height: 350px
      background-position: center center
      &--full 
        width: 100%
    &-wrapper__offer-wrap
      &--short
        width: 50%
      &--long
        width: 50%
  .support
    height: 100vh
@media (max-width: 900px)
  .header
    &__menu-list , &__top
      align-items: center
      flex-flow: wrap column
@media (max-width: 700px)
  .main
    &-wrapper
      padding: 0
    &-wrapper__text , &__text , &-text , &-wrapper__offer
      flex-flow: wrap column
    &-image , &-offer , &-image--full , &-image--short , &-wrapper__offer-wrap--short , &-wrapper__offer-wrap--long
      width: 100%
    &-offer
      display: flex
      justify-content: center
      align-items: center
  .support__text
    max-width: 100%
  .footer
    &__main-wrap , &__about-wrap
      flex-flow: wrap column
    &__resources , &__feedback-wrap , &__about , &__social
      width: 100%
      max-width: 100%
@media (max-width: 450px)
  .header
    height: 100vh
    &__menu-list , &__top
      align-items: flex-start
    &__slogan
      align-self: flex-end
  .support
    height: 100vh
  .footer__input
    margin: 5px
    &-wrap
      display: flex
      flex-flow: wrap column
    &--name , &--mail , &--butt
      width: 100%
@media (max-width: 370px)
  .main-offer
    padding: 0
    align-self: center
    height: auto







